@inject IAdminLTE adminLTE
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var options = @adminLTE.Options;
}
<a asp-page="/Index" asp-area="" class="brand-link">
    <img src="@options.SiteLogo" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">@options.SiteName</span>
</a>
