@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-5">Welcome to the AdminLTE 3 for ASP.NET Core Live Demo</h1>
        <p style="font-size:1.5rem; font-weight:bold">Go To: <a asp-area="Admin" asp-page="/Index">Administration App Page</a></p>
        <p>This is a FREE open source project with an MIT License.</p>
        <p>NuGet Package <a href="https://www.nuget.org/packages/WebPx.AdminLTE.AspNetCore">WebPx.AdminLTE.AspNetCore</a></p>
        <p>Source Code found at <a href="https://github.com/WebPx/WebPx.AdminLTE.AspNetCore">GitHub</a></p>
        <p>Documentation on our <a href="https://github.com/WebPx/WebPx.AdminLTE.AspNetCore/wiki">Git Hub Wiki</a></p>
        <p>Base on the AdminLTE 3 Template by <a href="//adminlte.io">AdminLTE.io</a> / <a href="/colorlib.com">ColorLib.com</a></p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
