@inject IAdminLTE adminLTE
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var options = adminLTE.Options;
    //var any = options.NavBarLinks || true;
}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        @if (options.NavBarLinks)
        {
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">@AdminLTETexts.Home</a>
        </li>
        }
    </ul>
